* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: crimson;
}


.font-fm {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.all-month {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 120px;
    color: white;
    
}


.all-month h2 {
    background-color: lawngreen;
    width: 195px;
}

 .month {
    border: 2px solid  white;
    width: 300px;
    height: auto;
    background-color:white;
    border-radius: 3px;
    color: black;
    padding: 30px;
 }


 .item {
    width: 80%;
    height: 200px;
    margin-left: 120px;
    border-radius: 3px;
    padding: 20px;
    background-color:white;
 }


 .font-fm h1 {
    padding: 20px;
    border-radius: 1rem;
    width: 300px;
    background-color:aqua;
    margin: 20px auto;
 }


 span {
    background-color:lawngreen;
 }